.triangles {
    height: 47rem;
    background-image: url('../../../images/main/triangles/triangles-bg.png');;
    background-repeat: no-repeat;
    padding-top: 8rem;
}

.triangles-title {
    opacity: 0;
    transform: translateY(-50px);
    text-align: center;
    margin-bottom: 5rem;
    animation-name: scrolling-appear;
    animation-fill-mode: both;
    animation-timeline: scroll();
    animation-range: 20rem 50rem;
}

.triangles-cards {
    height: 58rem;
    display: flex;
    gap: 5.85rem;
    background-image: url('../../../images/main/triangles/triangles2.png');
    background-repeat: no-repeat;
    animation-name: scrolling-appear;
    animation-fill-mode: both;
    animation-timeline: scroll();
    animation-range: 45rem 60rem;
    opacity: 0;
    transform: translateX(-100px);
}

.triangles-card {
    max-width: 15rem;
    max-height: 21.3rem;
    margin-top: 2.15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;
}

.first {
    margin: 2rem 2.1rem 0 8.55rem;
}

.triangle-card_title {
    margin-bottom: -1rem;
}

.triangle-card_description {
    text-align: center;
    opacity: 0.6;
}
