.organizations {
    padding: 8rem 0;
    background-color: var(--colour-dark-darker);
    margin-bottom: 0;
}

.organizations_title {
    text-align: center;
    margin-bottom: 4rem;
}

.organizations_cards {
    display: flex;
    gap: 2rem;
}

.organization_card {
    width: 25.65rem;
    height: 13.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.org-title {
    text-align: center;
}

.org-metrics_list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.org-metrics_item {
    display: flex;
    gap: 0.5rem;
    opacity: 0.6;
}

.organizations .split-line {
    margin: 5rem 0;
}

.join-us_title {
    text-align: center;
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
}