.attack .container {
    background-image: url(../../images/attack/attack-bg.png);
    height: 37.3rem;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    gap: 13.5rem;
    padding-left: 70px;
}

.attack_info {
    max-width: 29rem;
    margin-top: 3.2rem;
    animation-name: scrolling-appear;
    animation-fill-mode: both;
    animation-timeline: scroll();
    animation-range: 185rem 200rem;
    opacity: 0;
    transform: translateX(-100px);
}

.attack_img {
    animation-name: scrolling-appear;
    animation-fill-mode: both;
    animation-timeline: scroll();
    animation-range: 185rem 195rem;
    opacity: 0;
    transform: translateY(-100px);
}

.attack_subtitle {
    margin-bottom: 1.2rem;
}

.attack .learn-more_button {
    margin-top: 3rem;
    border-bottom: 0.05rem solid var(--colour-white);
}