.get-started {
    height: 29.5rem;
    background-image: url('../../images/get-started/gs-bg.png');
    display: flex;
}

.get-started .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}

.get-started_subtitle {
    color: var(--colour-accent);
}

.get-started_title {
    max-width: 60rem;
    text-align: center;
}

.get-started .demo-button {
    margin-top: 2rem;
}