.top-gradient {
    top: 0;
    background: linear-gradient(180deg, rgba(255, 89, 90, 0.16) 0%, rgba(255, 89, 90, 0) 36.71%);
}

.hero {
    padding-top: 3rem;
}

.hero .container {
    display: flex;
    align-items: center;
    gap: 11.9rem;
}

.hero_info {
    max-width: 35.4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero-title {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.2;
}

.hero-buttons {
    margin-top: 1rem;
}

.hero-description {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 120%;
}