.main-hero {
    padding-top: 3rem;
}

.hero {
    background-image: url('../../images/main-bg.png');
}

.hero .container {
    display: flex;
    align-items: center;
    gap: 11.9rem;
}

.hero_info {
    max-width: 35.4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero-title {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.2;
}

.hero-buttons {
    margin-top: 1rem;
}

.hero-description {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 120%;
    opacity: 0.7;
}