.main-hero {
    padding-top: 3rem;
}

.hero {
    background-image: url('../../images/main-bg.png');
}

.hero .container {
    display: flex;
    align-items: center;
    gap: 11.9rem;
}

.hero_info {
    max-width: 35.4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
     animation-name: appear-left;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0, 0, 0.03, 1);
}

.hero-title {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.2;
}

.hero-buttons {
    margin-top: 1rem;
}

.hero-description {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 120%;
    opacity: 0.7;
}

.hero-image {
    animation-name: appear-right;
animation-duration: 1s;
animation-delay: 0.5s;
animation-fill-mode: both;
animation-timing-function: cubic-bezier(0, 0, 0.03, 1);
}

@keyframes appear-right {
   from {
transform: translateX(100px);
opacity: 0;
   } 
   
   to {
opacity: 1;
transform: translateX(0px);
   }
}

@keyframes appear-left {
   from {
transform: translateX(-100px);
opacity: 0;
   } 
   
   to {
opacity: 1;
transform: translateX(0px);
   }
}