.recomendations {
    margin-top: 8rem;
}

.recomendations .container {
    display: flex;
    gap: 12.4rem;
}

.recomendations_image {
    animation-name: scrolling-appear;
    animation-fill-mode: both;
    animation-timeline: scroll();
    animation-range: 155rem 170rem;
    opacity: 0;
    transform: translateX(-100px);
}

.recomendations_info {
    animation-name: scrolling-appear;
    animation-fill-mode: both;
    animation-timeline: scroll();
    animation-range: 155rem 170rem;
    opacity: 0;
    transform: translateX(100px);
}

.recomendations_subtitle {
    color: var(--colour-torquoise);
}