.reports {
    margin: 0;
    background-image: url('../../images/product/reports-bg.png');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.split-line3 {
    margin-block: 5rem;
}

.reports .container {
    display: flex;
    gap: 13.4rem;
}

.reports_subtitle {
    color: var(--colour-purple);
}

.reports_info {
    max-width: 35rem;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}