.reviews .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviw p {
    opacity: 1.0;
    text-align: center;
}

.reviews_header {
    max-width: 60rem;
    margin-bottom: 2.4rem;
}

.reviews_subtitle, .reviews_title {
    text-align: center;
}

.reviews_subtitle {
    color: var(--colour-accent);
    margin-bottom: 1.2rem;
}

.review {
    position: relative;
    height: 26.9rem;
    width: 81rem;
    background-image: url('../../images/reviews/review-bg.png');
    background-repeat: no-repeat;
    display: none;
    justify-content: center;
    gap: 2rem;
}
.review-active {
    display: flex;
}

.slide-btn {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.prev {
    margin-bottom: 10rem;
}

.next {
    margin-top: 10rem;
}

.review-text_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.review_subtitle {
    margin-bottom: 2.4rem;
    opacity: 1;
}

.review_text {
    max-width: 57rem;
    font-family: 'Inter Italic';
    margin-bottom: 2.4rem;
    text-align: center;
}

.review_author {
    font-weight: 600;
    margin-bottom: 0.3rem;
    opacity: 1;
}

.review_author-company {
    font-size: 0.8rem;
    opacity: 0.5;
}