.triangles {
    background-image: url('../../../images/triangles/triangles-bg.png');;
    background-repeat: no-repeat;
    padding-top: 8rem;
}

.triangles-title {
    text-align: center;
    margin-bottom: 5rem;
}

.triangles-cards {
    display: flex;
    background-image: url('../../../images/triangles/triangles.png')
}

.triangles-card {
    max-width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;
}

.triangle-card_title {
    margin-bottom: -1rem;
}

.triangle-card_description {
    text-align: center;
    opacity: 0.6;
}