.values_header {
    height: 13.4rem;
    background-image: url('../../images/values/values-bg.png');
    margin-bottom: 3.2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}

.values_subtitle, .values-footer_text {
    opacity: 1;
    max-width: 60rem;
    text-align: center;
}

.values_body {
    display: grid;
    grid-template-columns: repeat(3, 25.65rem);
    gap: 2rem;
}

.values_card {
    width: 25.65rem;
    height: 23.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.upper {
    background-image: url('../../images/values/card-upper.png');
}
.lower {
    background-image: url('../../images/values/card-lower.png');
}

.card-content {
    max-width: 16.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.values-card_icon {
    margin-right: 2rem;
}

.values-card_description {
    font-size: 0.8rem;
    text-align: center;
    opacity: 0.6;
}

.values_footer {
    height: 7.6rem;
    background-image: url('../../images/values/values-footer.png');
    margin-top: 3.2rem;

    display: flex;
    align-items: center;
    justify-content: center;
}



/* investors section */
.investors .container {
    display: flex;
    gap: 5rem;
    align-items: center;
}

.investors_text {
    max-width: 35rem;
}

.investors_title {
    margin-bottom: 1.4rem;
}