.identify {
    padding-top: 4rem;
    padding-bottom: 0;
    background-image: url('../../../images/product/identify/identify-bg.png');
    background-repeat: no-repeat;
    margin: 0;
}

.identify .container {
    display: flex;
    gap: 12.4rem;
}

.identify_subtitle {
    color: var(--colour-torquoise);
}

.identify_info {
    max-width: 35rem;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}