.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 1.8rem 4rem;

    top: 0;
    position: sticky;
    z-index: 100;
    animation-name: scrolling-header;
    animation-fill-mode: both;
    animation-timeline: scroll();
    animation-range: 5rem 30rem;
}
@keyframes scrolling-header {
    to {
        background-color: rgba(25, 20, 35, 0.85);
    }
}

/* Навигационное меню */
.nav-list {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.nav-link {
    color: var(--colour-white);
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    line-height: 0.3;
}
.nav-link:hover {
    color: var(--colour-accent);
}

/* Меню выбора языка страницы */
.language-select-list {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.language-text {
    color: var(--colour-white);
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    line-height: 0.3;
}