.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6.25rem;
    padding: 1.563rem 5rem;

    top: 0;
    position: sticky;
    z-index: 100;
}

/* Навигационное меню */
.nav-list {
    display: flex;
    align-items: center;
    gap: 3.125rem;
}

.nav-link {
    color: var(--colour-white);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 0.28;
}
.nav-link:hover {
    color: var(--colour-accent);
}

/* Меню выбора языка страницы */
.language-select-list {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.language-text {
    color: var(--colour-white);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 0.28;
}