html {
    background-color: var(--colour-dark-base);
    scroll-behavior: smooth;
    transition-duration: 0.3s;

    box-sizing: border-box;
    overflow-x: hidden;

    font-family: var(--font-family-base);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--colour-white);
}

a {
    text-decoration: none;
}

p {
    opacity: 0.8;
}

h1 {
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1;
}
h3 {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.2;
}
h4 {
    font-size: 2.2rem;
    font-weight: 800;
}
h5 {
    font-size: 1.6rem;
    font-weight: 700;
}
h6 {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.2;
}

section {
    margin-bottom: 8rem;
}

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin: 0 auto;
    padding-inline: var(--container-padding-x);
}

.hero-alt {
    padding-block: 5rem;
    background-image: url('../../images/leader-hero/leader-hero_bg.png');
}

.button {
    position: relative;
    padding: 1rem 2.9rem;
    background: none;
    border: none;
    transition: background-color 0.2s, color 0.2s;
    color: var(--colour-white);
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.075rem;
    text-transform: uppercase;
}

.demo-button {
    background-color: var(--colour-accent);

}
.demo-button:hover {
    background: none;
    outline: 0.1rem solid var(--colour-accent);
    outline-offset: -0.1rem;
    color: var(--colour-accent);
}



.start-button {
    outline: 0.1rem solid var(--colour-white);
    outline-offset: -0.1rem;
    margin-left: 1rem;
}

.start-button:hover {
    background-color: var(--colour-white);
    color: var(--colour-dark-base);
}

.button::before, .button::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 50px;
    background-color: currentColor;
    clip-path: polygon(40% 15%,30% 0%,100% 0%,100% 100%,90% 90%,90% 15%);
    transition: opacity 0.5s, left 0.5s, right 0.5s;
    opacity: 0; 
}

.button::before {
    left: -20%;
    bottom: -20%;
    transform: rotate(180deg);
}

.button::after {
    right: -20%;
    top: -20%;
}

.button:hover::before  {
    opacity: 1;
    left: -5%;
}

.button:hover::after {
    opacity: 1;
    right: -5%;
}

.accent-text {
    color: var(--colour-accent);
}

.subtitle {
    font-size: 0.9rem;
    line-height: auto;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    opacity: 1;
}

.learn-more_button {
    max-width: 9.5rem;
    margin-top: 1.8rem;
    padding: 0 0 0.7rem 0;
    color: var(--colour-white);
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 0.05rem solid var(--colour-torquoise);
}
.learn-more_button:hover {
    opacity: 0.5;
}

.learn-more-icon {
    margin-left: 0.4rem;
}

.split-line {
    margin-left: auto;
    margin-right: auto;
}


@keyframes appear-right {
    from {
        transform: translateX(100px);
        opacity: 0;
    } 
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes appear-left {
    from {
        transform: translateX(-100px);
        opacity: 0;
    } 
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes scrolling-appear {
    from {
        opacity: 0;
    } 
    to {
        opacity: 1;
        transform: translateY(50px);
    }
}