/* Глобальные стили */
@import url('./globals.css');
@import url('./variables.css');
@import url('./normalize.css');
@import url('./fonts.css');

/* Стили отдельных блоков страницы */
@import url('./blocks/header.css');
@import url('./blocks/footer.css');
@import url('./blocks/get-started.css');

/* Стили отдельных секций */
@import url('./blocks/main/hero.css');
@import url('./blocks/main/triangles.css');
@import url('./blocks/main/sign-up.css');
@import url('./blocks/main/threat-check.css');
@import url('./blocks/main/recomendations.css');
@import url('./blocks/main/attack.css');
@import url('./blocks/main/reviews.css');

@import url('./blocks/about/about-us.css');
@import url('./blocks/about/values.css');
@import url('./blocks/about/organizations.css');

@import url('./blocks/product/ai-analyst.css');
@import url('./blocks/product/identify.css');
@import url('./blocks/product/reports.css');
@import url('./blocks/product/cases.css');
@import url('./blocks/product/partners.css');
@import url('./blocks/product/fast.css');

@import url('./blocks/leaders/leader-hero.css');
@import url('./blocks/leaders/founders.css');