/* Глобальные стили */
@import url('./globals.css');
@import url('./variables.css');
@import url('./normalize.css');
@import url('./fonts.css');

/* Стили отдельных блоков страницы */
@import url('./blocks/header.css');
@import url('./blocks/footer.css');

/* Стили отдельных секций */
@import url('./blocks/hero.css');
@import url('./blocks/triangles.css');
@import url('./blocks/sign-up.css');
@import url('./blocks/threat-check.css');
@import url('./blocks/recomendations.css');
@import url('./blocks/attack.css');
@import url('./blocks/reviews.css');
@import url('./blocks/get-started.css');
@import url('./blocks/founders.css');